### Ark ###
Ark/*
!Ark/docker-compose.yml
!Ark/MyConfig
### Backup-Encrypter ###
Backup-Encrypter/.env
Backup-Encrypter/encrypt/*
!Backup-Encrypter/encrypt/.gitkeep
### GitLab ###
GitLab/Data/*
GitLab-Runner/*
!GitLab-Runner/docker-compose.yml
!GitLab-Runner/info.txt
### Hedgedoc ###
Hedgedoc/*
!Hedgedoc/docker-compose.yml
!Hedgedoc/info.txt
### Masterarbeit ###
Masterarbeit-Documentation
Masterarbeit-Landingpage
Masterarbeit-Webhook-Updater
### Minecraft ###
Minecraft/HF-Wir/*
!Minecraft/HF-Wir/docker-compose.yml
!Minecraft/HF-Wir/Dockerfile
Minecraft/ATM9Sky/*
!Minecraft/ATM9Sky/docker-compose.yml
!Minecraft/ATM9Sky/Dockerfile
### Misc ###
Misc/
### OneDrive-Client ###
OneDrive-Client/config/*
!OneDrive-Client/config/sync_list
OneDrive-Client/syncdir/Auto-Backup/*
!OneDrive-Client/syncdir/Auto-Backup/.gitkeep
### Penpot ###
Penpot/*
!Penpot/info.md
!Penpot/docker-compose.yml
### Portainer ###
Portainer/.env
Portainer/data
### Traefik-Reverse-Proxy ###
Traefik-Reverse-Proxy/letsencrypt/*
!Traefik-Reverse-Proxy/letsencrypt/.gitkeep
### Twitch-Channel-Points-Miner ###
Twitch-Channel-Points-Miner/analytics
Twitch-Channel-Points-Miner/logs
